/* Margin, Padding */

.padding-xs {
    padding: 0.25em;
}
.padding-sm {
    padding: 0.5em;
}
.padding-md {
    padding: 1em;
}
.padding-lg {
    padding: 1.5em;
}
.padding-xl {
    padding: 3em;
}

.padding-x-xs {
    padding: 0.25em 0;
}
.padding-x-sm {
    padding: 0.5em 0;
}
.padding-x-md {
    padding: 1em 0;
}
.padding-x-lg {
    padding: 1.5em 0;
}
.padding-x-xl {
    padding: 3em 0;
}

.padding-y-xs {
    padding: 0 0.25em;
}
.padding-y-sm {
    padding: 0 0.5em;
}
.padding-y-md {
    padding: 0 1em;
}
.padding-y-lg {
    padding: 0 1.5em;
}
.padding-y-xl {
    padding: 0 3em;
}

.padding-top-xs {
    padding-top: 0.25em;
}
.padding-top-sm {
    padding-top: 0.5em;
}
.padding-top-md {
    padding-top: 1em;
}
.padding-top-lg {
    padding-top: 1.5em;
}
.padding-top-xl {
    padding-top: 3em;
}

.padding-right-xs {
    padding-right: 0.25em;
}
.padding-right-sm {
    padding-right: 0.5em;
}
.padding-right-md {
    padding-right: 1em;
}
.padding-right-lg {
    padding-right: 1.5em;
}
.padding-right-xl {
    padding-right: 3em;
}

.padding-bottom-xs {
    padding-bottom: 0.25em;
}
.padding-bottom-sm {
    padding-bottom: 0.5em;
}
.padding-bottom-md {
    padding-bottom: 1em;
}
.padding-bottom-lg {
    padding-bottom: 1.5em;
}
.padding-bottom-xl {
    padding-bottom: 3em;
}

.padding-left-xs {
    padding-left: 0.25em;
}
.padding-left-sm {
    padding-left: 0.5em;
}
.padding-left-md {
    padding-left: 1em;
}
.padding-left-lg {
    padding-left: 1.5em;
}
.padding-left-xl {
    padding-left: 3em;
}

.margin-xs {
    margin: 0.25em;
}
.margin-sm {
    margin: 0.5em;
}
.margin-md {
    margin: 1em;
}
.margin-lg {
    margin: 1.5em;
}
.margin-xl {
    margin: 3em;
}

.margin-x-xs {
    margin: 0.25em 0;
}
.margin-x-sm {
    margin: 0.5em 0;
}
.margin-x-md {
    margin: 1em 0;
}
.margin-x-lg {
    margin: 1.5em 0;
}
.margin-x-xl {
    margin: 3em 0;
}

.margin-y-xs {
    margin: 0 0.25em;
}
.margin-y-sm {
    margin: 0 0.5em;
}
.margin-y-md {
    margin: 0 1em;
}
.margin-y-lg {
    margin: 0 1.5em;
}
.margin-y-xl {
    margin: 0 3em;
}

.margin-top-xs {
    margin-top: 0.25em;
}
.margin-top-sm {
    margin-top: 0.5em;
}
.margin-top-md {
    margin-top: 1em;
}
.margin-top-lg {
    margin-top: 1.5em;
}
.margin-top-xl {
    margin-top: 3em;
}

.margin-right-xs {
    margin-right: 0.25em;
}
.margin-right-sm {
    margin-right: 0.5em;
}
.margin-right-md {
    margin-right: 1em;
}
.margin-right-lg {
    margin-right: 1.5em;
}
.margin-right-xl {
    margin-right: 3em;
}

.margin-bottom-xs {
    margin-bottom: 0.25em;
}
.margin-bottom-sm {
    margin-bottom: 0.5em;
}
.margin-bottom-md {
    margin-bottom: 1em;
}
.margin-bottom-lg {
    margin-bottom: 1.5em;
}
.margin-bottom-xl {
    margin-bottom: 3em;
}

.margin-left-xs {
    margin-left: 0.25em;
}
.margin-left-sm {
    margin-left: 0.5em;
}
.margin-left-md {
    margin-left: 1em;
}
.margin-left-lg {
    margin-left: 1.5em;
}
.margin-left-xl {
    margin-left: 3em;
}

/* Ribbon */

.ribbon-wrapper {
    position: relative;
    z-index: 1;
    margin: auto;
}

.ribbon {
    font-size: 20px !important;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    width: 40%;
    position: relative;
    background: #38B5C9;
    color: #fff;
    text-align: center;
    padding: 1em 2em;
    margin: 0 auto 2em auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ribbon:after,
.ribbon:before {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #2CA9B3;
    z-index: -1;
}

.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.ribbon .ribbon-inner:after,
.ribbon .ribbon-inner:before {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #b23232 transparent transparent;
    bottom: -1em;
}

.ribbon .ribbon-inner:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon .ribbon-inner:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.ribb {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribb::before,
.ribb::after {
    position: absolute;
    z-index: 0;
    content: "";
    display: block;
    border: 5px solid #D74545;
}
.ribb span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 10px 0;
    background-color: #f35b5b;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    font: 700 14px/1 "Lato", sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
}

/* top left*/
.ribb-top-left {
    top: -10px;
    left: -10px;
}
.ribb-top-left::before,
.ribb-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribb-top-left::before {
    top: 0;
    right: 30px;
}
.ribb-top-left::after {
    bottom: 30px;
    left: 0;
}
.ribb-top-left span {
    right: -12px;
    top: 30px;
    transform: rotate(-45deg);
}

/* Modal */

.show {
    display: block !important;
}

.modal.modal-preview .modal-body .elements-group {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
}

.modal {
    background: rgba(0, 0, 0, 0.3);
}
.modal-content {
    padding: 30px;
    max-height: 600px;
    min-height: 350px;
    overflow-y: auto;
}
.modal-footer {
    margin-top: 1rem;
}
.modal .form-btns {
    margin-top: 15px;
}

.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}

.uploading {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.1);
}
